.header {
  /* padding: 25px 0; */
  border: 1px solid #ececec;
}

.site-nav {
  display: flex;
  /* align-items: center; */
  margin-left: 93px;
}
.site-nav .item,
.site-adr .item {
  margin-right: 50px;
}
.site-nav .item:last-child,
.site-adr .item:last-child,
.characteristics-list .item:last-child,
.specialisation-list .item:last-child {
  margin-right: 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link-current {
  color: var(--accent-color);
}
.main-nav,
.nav-flex {
  display: flex;
  align-items: center;
}
.nav-flex {
  display: flex;
}

.adres-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-adr {
  display: flex;
  margin-left: auto;
}

.site-adr-item:not(:last-child) {
  margin-right: 50px;
}
.site-adr-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* text-decoration: none; */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}
.site-adr-link:hover,
.site-adr-link:focus {
  color: var(--accent-color);
}
.site-adr-link:hover .site-adr-icon,
.site-adr-link:focus .site-adr-icon {
  fill: var(--accent-color);
}
.site-adr-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-link:hover,
.site-nav-link:focus,
.current {
  color: var(--accent-color);
}
.site-nav-item {
  position: relative;
}

.site-nav-item + .site-nav-item {
  margin-left: 50px;
}
.site-adr .link-current {
  color: var(--accent-color);
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
